{% include 'header.html' %}

<!-- Add .container around your main content -->
<div class="container">
    <main>
        <section class="content">
            <h2>Welcome to Flint Creek Woodworks</h2>
            <p>Flint Creek Woodworks specializes in crafting custom cabinets and custom cabinet doors, 
               in-house finishing cabinets to perfection, and utilizing cutting-edge CNC design technology 
               to bring your vision to life.</p>
        </section>
    </main>
</div>

{% include 'footer.html' %}
